@import '../../styles/global.scss';
@import '../../styles/variables';

.white-block {
  width: 748px;
  margin: 0 auto;
  margin-top: 40px;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    &-img {
      width: 41.48px;
      height: 48px;
    }

    &-title {
      color: $secondary-color;
      font-family: $font-semibold;
      margin-left: 10px;
      font-size: 18px;
      line-height: 21.6px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;

    &-title {
      font-family: $font-semibold;
      font-size: 28px;
      line-height: 39.2px;
      color: $secondary-color;
      margin-bottom: 5px;
    }

    &-subtitle {
      font-size: 14px;
      line-height: 19.6px;
      margin-top: 0;
    }
  }

  .login-account {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 27px;

    a {
      color: $primary-blue;
      text-decoration: none;
      font-size: 14px;
    }
  }

  .app-links {
    margin-top: 50px;

    a {
      width: 135px;
      height: 40px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 768px) {
  .white-block {
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .white-block {
    padding-left: 0;
  }
}
