@import '../../styles/global.scss';
@import '../../styles/variables.scss';

.blue-block {
  display: flex;
  flex-direction: column;
  background: linear-gradient(315deg, $primary-blue 0%, $sky-blue 100%);
  width: 614px;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  color: $primary-white;

  &::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(315deg, $sky-blue 0%, $primary-blue 100%);
    border-radius: 50%;
    left: 50%;
    top: calc(50% + 65px);
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .title {
    margin-top: 50px;
    font-size: 28px;
    margin-bottom: 40px;
    z-index: 3;
    text-align: center;
    line-height: 42px;
    font-family: $font-semibold;
    width: 554px;
  }

  .phones-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin-top: 80px;

    .phone {
      position: absolute;
    }

    .left-phone {
      width: 200px;
      left: calc(50% - 5px);
      z-index: 1;
    }

    .right-phone {
      width: 200px;
      right: calc(50% - 5px);
      z-index: 1;
    }

    .center-phone {
      width: 250px;
      z-index: 2;
    }
  }
}

@media (max-width: 1200px) {
  .blue-block {
    min-width: 100%;
    min-height: 100vh;
    padding: 40px 40px;
  }

  .blue-block::before {
    content: '';
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 1;
  }

  .title {
    position: absolute;
    top: 10px;
  }

  .blue-block .phones-container {
    margin-top: 20px;

    .center-phone {
      width: 300px;
      margin-bottom: 0;
    }
  }
}
